body{
    background-color: #444;
}
.header_container{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 800px;
}

.header_container h1{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px #999;
}

.header_container p{
    margin: 0;
    background-color: white;
    padding: 40px 0;
}

footer{
    margin: 20px auto;
    text-align: center;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}